<link href="/static/map/css/font-awesome.css" rel="stylesheet">
<link href="/static/map/css/rating.css" rel="stylesheet">

<form class="rating-form" action="#" method="post" name="rating-movie">
  <fieldset class="form-group">
    
    <div class="form-item">

      <input id="rating-5" name="rating" type="radio" value="5" />
      <label for="rating-5" data-value="5" id="score5">
        <span class="rating-star">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star"></i>
        </span>
        <span class="ir">5</span>
      </label>
      <input id="rating-4" name="rating" type="radio" value="4" />
      <label for="rating-4" data-value="4" id="score4">
        <span class="rating-star">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star"></i>
        </span>
        <span class="ir">4</span>
      </label>
      <input id="rating-3" name="rating" type="radio" value="3" />
      <label for="rating-3" data-value="3" id="score3">
        <span class="rating-star">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star"></i>
        </span>
        <span class="ir">3</span>
      </label>
      <input id="rating-2" name="rating" type="radio" value="2" />
      <label for="rating-2" data-value="2" id="score2">
        <span class="rating-star">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star"></i>
        </span>
        <span class="ir">2</span>
      </label>
      <input id="rating-1" name="rating" type="radio" value="1" />
      <label for="rating-1" data-value="1" id="score1">
        <span class="rating-star">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star"></i>
        </span>
        <span class="ir">1</span>
      </label>

    </div>

  </fieldset>
</form>
