.pin-desc {
    margin-bottom: 10px;
    width: 700px;
    height: 100px;
}

#upload{
    font-family:'PT Sans Narrow', sans-serif;

    width:700px;
    border-radius:3px;
}

#drop{
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
}
